* {
    padding: 0px;
    margin: 0px;
}

html {
    /* get rid of the default vertical scroll bar in IE */
    overflow: auto;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #E9E9E9;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
}

#wrapper {
    height: 100vh !important;
}

/*
 * The header
 */
#header {
	background-color: #A50000;
}

#header .logo {
    padding: 5px;
}

#header .logo img {
    background-color: white;
    margin-right: 10px;
    padding: 5px;
    box-shadow: 0 0 2px 1px white;
}

#header .logo h1 {
    font-size: 16px;
    color: white;
    align-content: center;
}

/*
 * The progress meter look and feel
 */
#progressmeter {
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

#progressmeter p {
    padding: 9px;
}


/*
 * Filter Menu
 */

#menu-icon {
    color: white;
    margin: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(90deg);
}

#menu {
    padding: 0px;
    margin: 0px;
    font-size: small;
    border: 1px solid gray;
    background-color: white;
}

#menu > ul > li {
    display: inline;
}

#menu .menu-group {
    float: left;
    padding-left: 0.5em;
}

#menu li:nth-of-type(even) .menu-group {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#menu li {
    list-style: none;
    padding-bottom: 0.5em;
}

#menu label {
    cursor: pointer;
}

#menu input {
    cursor: pointer;
}

#menu .menu-group-head {
    background-color: #E5E5E5;
    padding: 0.5em 1em 0.5em 0.5em;
    margin-left: -0.5em;
}

#menu .menu-group-headline {
    font-weight: bold;
    padding-right: 1em;
}

#menu .menu-group ul {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#menu li .selectable {
    margin-right: 0.3em;
}

#contentTypeFilter .filter-httpRedirect .name {
    color: gray;
}

#contentTypeFilter .filter-contentTypeJS .name {
    color: #7D28C0;
}

#contentTypeFilter .filter-contentTypeImage .name {
    color: green;
}

#contentTypeFilter .filter-contentTypeCSS .name {
    color: blue;
}

#contentTypeFilter .filter-httpError .name {
    color: red;
}

#contentTypeFilter .filter-contentTypeOther .name {
    color: black;
}

#menu .filter-all .name {
    color: black;
    font-weight: bold;
}

#requestMethodFilter .filter-method-all {
    border-top: 1px solid lightgray;
    padding-top: 0.5em;
}

#actionlist .protocolFiltered {
    display: none;
}

#actionlist .methodFiltered {
    display: none;
}

#actionlist .contentTypeFiltered {
    display: none;
}

/**
 * The navigation with actions and requests
 */
#navigation {
    font-size: 12px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 41px;
    background-color: white;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

#navigation #actionlist {
    margin: 5px;
    padding: 0px;
    overflow: auto;
}

#navigation ul {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
}

#navigation ul li {
    margin: 1px 0 0 1px;
    font-weight: bold;
    padding: 2px;
    color: Black;
    overflow: hidden;
}

#navigation li > .name {
    cursor: pointer;
}

#navigation .expander {
    cursor: pointer;
}

#navigation .expander::before {
    font-style: normal;
    content: "◢";
    margin-right: 0.5em;
    font-size: smaller;
    display: inline-block;
    transform: translateY(-10%) rotate(-45deg);
}

#navigation .expander.expanded::before {
    transform: translateY(-10%) rotate(0deg);
}

#navigation #actionlist li.request {
    margin-left: 18px;
}

#navigation li.action {
    border-bottom: 1px solid #CBD6F3;
    border-top: 1px solid transparent;
    color: #2F4782;
    margin-top: -1px;
    padding-top: 3px;
}

#navigation li.action:first-child {
    margin-top: 0px;
}

#navigation li.action:last-child {
    border-bottom: 1px solid transparent;
}

#navigation li.action.current {
    border-top: 1px solid #9AF;
    border-bottom: 1px solid #9AF;
    background-color: #E4F1FF;
}


#navigation li.action.active > span {
    font-style: italic;
}

#navigation li.active {
    font-weight: bold;
    border-right: 5px solid #9AF;
}

#navigation ul li ul {
    padding: 0px;
    border: none;
}

#navigation ul li ul li {
    font-size: 11px;
    padding: 1px 1px 1px 2px;
    font-weight: normal;
}

#transaction {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #2F4782;
    overflow: hidden;
}

#transaction .name {
    cursor: pointer;
}

#transaction .har {
    float: right;
    font-size: smaller;
    font-weight: normal;
}

#leftSideMenu {
    background-color: white;
    min-width: 280px;
}


#content {
    background-color: white;
    height: 100%;
    overflow: auto;
}

#actioncontent {
    height: 100%;
}

#postrequestparameters,
#requestBodySmall {
    width: 100%;
}

#requestBodySmall > textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    background-color: #f9f9fc;
    border: 1px solid #97a6cc;
    padding: 3px;
}

#queryparameters td.value {
    white-space: pre-wrap;
}

#requestcontent {}

h1 {
    font-size: 14pt;
    margin: 4px 2px;
    color: #2F4785;
}

h2 {
    font-size: 12px;
    margin: 4px 2px;
    color: #2F4785;
}

table.key-value-table {
    font-size: 11px;
    margin-bottom: 10px;
    width: 100%;
    border-spacing: 1px;
}

table.key-value-table td {
    padding: 2px 4px;
    vertical-align: top;
    border: 1px solid transparent;
    background-color: #E8E8E8;
}


table.key-value-table tr:nth-child(even) td {
    background-color: #F9F9FC;
}

table.key-value-table td.key {
    font-weight: bold;
    width: 15em;
    min-width: 15em;
    text-align: right;
    background-color: #BCCBDC;
}

table.key-value-table tr:nth-child(even) td.key {
    background-color: #CED9E5;
}

table.key-value-table td.empty {
    border: none;
    color: gray;
    background-color: transparent;
}

table.key-value-table td.value .crow {
    border-top: 1px solid white;
    margin-top: 2px;
    padding-top: 2px;
}

table.key-value-table tr:nth-child(even) td.value .crow {
    border-color: #d8d8d8;
}

table.key-value-table td.value .crow:first-child {
    border: none;
    padding: 0px;
    margin: 0px;
}

table.key-value-table td.value .cname {
    color: #266cb0;
    font-weight: bold;
}

table.key-value-table td.value .cvalue {
    font-weight: normal;
}

table.key-value-table td.value .csep {
    padding: 0px 5px;
}


.contentTypeImage {
    color: green;
}

.contentTypeCSS {
    color: blue;
}

.contentTypeJS {
    color: #7D28C0;
}

.httpError {
    color: red;
}

.httpRedirect {
    color: gray;
}

.tabs {
    height: 100%;
}

.tabs .tabs-nav {
    height: auto;
    overflow: visible;
    border-bottom: 1px solid #aaa;
    padding-top: 4px;
    background-color: #A50000;
}

.tabs .tabs-nav li {
    float: left;
    margin: 4px 0px -1px 4px;
    padding: 8px;
    list-style: none;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    border-bottom-color: #aaa;
}

.tabs .tabs-nav li:hover {
    color: #fff;
    background-color: #DB0009;
}

.tabs .tabs-nav li.selected {
    border: 1px solid #aaa;
    border-bottom-color: transparent;
    background-color: #fff;
    color: #000;
}

.tabs .tabs-panel {
    background: white;
    overflow: auto;
    padding: 10px;
}

.errorContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    width: 700px;
    background-color: #a50000;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 2px 2px #888;
    color: white;
}

.error p {
    margin-top: 10px;
}

.error > p:first-child {
    font-weight: bold;
    margin-top: 0px;
}

.error ul {
    padding: 5px 0 0 20px;
    list-style-type: circle;
}

.error ul li {
    padding: 2px 0;
}

#errorMessage .filename {
    font-weight: bold;
}

#transactionContent {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-top: 41px solid #a50000;
}

#mainContent {}

.hide {
    display: none !important;
}

#contentBody {}

.heightFull {
    height: 100%;
}

.widthFull {
    width: 100%;
}

.flexContainer {
    display: flex;
}

.flexFlowColumn {
    flex-flow: column;
}

.flexItem-fill {
    flex: 1 1;    /* grow/shrink as needed */
    flex-basis: 0px !important;  /* HACK: Parcel's CSS optimizer replaces 'flex: 1 1 0px' with 'flex: 1' and browsers interpret 'flex: 1' as 'flex: 1 1 0%' which is not what we want. */
}

.gutter {
    background-color: rgb(169, 169, 169);
    flex: 0 0 auto;    /* don't grow/shrink the splitter */
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.visibilityHidden {
    visibility: hidden !important;
}

/********************************************************************************************
 *
 * Miscellaneous
 *
 ********************************************************************************************/

.unselectable {
    user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#responseContentActions {
    position: fixed;
    top: 10px;
    right: 30px;
}


.no-padding {
    padding: 0px !important;
}

.scroller {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.no-wrap {
    white-space: nowrap;
}

/********************************************************************************************
 *
 * Spinner
 *
 ********************************************************************************************/

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.actionimgScale {
	position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    align-content: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #bbb;
    cursor: pointer;
}

.actionimgScale#actionimgSwitch{
	right: 20px;
	bottom: 20px;
}

.actionimgScale#actionimgSwitch.full {
	font-size: 30px;
}

.actionimgScale#actionimgSwitch.fit {
	font-size: 20px;
}


/********************************************************************************************
 *
 * Responsive
 *
 ********************************************************************************************/

#wrapper, #mainContent {
	flex-flow: row;
	width: 100vw !important;
}

#header .expander {
	display: none;
}

/*responsive behavior for phones in portrait mode*/
@media (max-width: 599px) {
	
	#header {
		position: fixed;
  		top: 0;
  		width: 100%;
  		z-index: 2;
	}
	
	#header .logo h1 {
 		font-size: 22px;
 	}
 	
	#wrapper, #mainContent {
		flex-flow:column;
 	}
 	
 	#header .expander {
	    cursor: pointer;
	}
	
	#header .expander {
	    font-weight: bold;
	    font-size: 22px;
	    color: #fff;
	    display: inline-block;
	    text-align: center;
	    align-content: center;
	    width: 35px;
	    transform: rotate(0deg);
	    transition: transform .2s;
	    
	}
	
	#header .expander.expanded {
	    transform: rotate(90deg);
	}	
	 	
 	#menu-icon {
	    font-size: 22px;
	}
	
	#leftSideMenu {
 		height: 90px;
 		overflow: hidden;
 		transition: height .2s;
 	} 	
 	
 	#leftSideMenu.expanded {
 		height: 80vh;
 		overflow: scroll;
 	}
 	
 	#navigation {
 		padding-top: 50px;
 	}
 	
 	#content {
 		height: 20vh;
 		transition: height .2s;
 		border-top: 1px solid #bbb;
 	}
 	
 	#content.expanded {
 		height: 100vh;
 	}
 	
 	#transaction {
 		overflow: visible;
 		font-size: 19px;
 	}
 	
 	#actionlist {
 		flex-basis: auto !important;
 		margin: 0px;
 	}
 	
 	#menu > ul {
 		flex-flow: column;
 	}
}
 
/*responsive behavior for phones in portrait and landscape mode*/
@media (max-width: 599px), (max-height: 400px) {
	 	
	#header .logo h1 {
 		align-content: center;
 		margin: 0px;
 	}
 	
 	#navigation {
 		font-size: 16px;
 	}
 	
 	#navigation li.action {
 		padding-top: 6px;
 		padding-bottom: 6px;
 	}
 	
 	#navigation ul li ul li {
 		font-size: 16px;
 		padding: 4px;
 	}	
 	
 	#responseContentActions {
	    position: fixed;
	    bottom: 10px;
	    right: 10px;
	    top: auto;
	}
	
	#beautify, #highlightSyntax, #selectResponseContent {
		background-color: #666;
		border: none;
		border-radius: 13px;
		color: #fff;
		padding: 8px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
	}
	
	#transactionContent {
		border-top: 2px solid #666;
	}
	
	#transactionContent h1 {
		margin: 8px 2px;
		font-size: 12pt;
	}
 	
 	.actionimgScale#actionimgSwitch {
		right: 10px;
		bottom: 10px;
	}
 	
 	.tabs .tabs-nav {
		padding: 4px;
	}
	
	.tabs .tabs-nav li {
		border-radius: 4px;
		background-color: #db0009;
		border: 0px;
		margin: 2px;
	}
	
	.tabs .tabs-nav li.selected { 
		border: 0px;
	}
	
	#menu {
		width: 100%;
    	height: 100%;
    	overflow: hidden;
    	background-color: #fffd;
    	border: 0px;
	}
	
	#menu > ul {
		display: flex;
		align-items: stretch;
	}
	
	#menu li:nth-of-type(2n) .menu-group {
	    border-left: 0px;
	    border-right: 0px;
	}
	
	#menu > ul > li {
		flex-grow: 1;
	}
	
	.menu-group {
		width: -webkit-fill-available;
	}
}
 