h1
{
	background: green;
	padding-left: 5px;
}

h2
{
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, SansSerif;
	background: lightgreen;
	padding-left: 5px;
	margin-top: 10px;
}

h3
{
	font-size: 1em;
	font-weight: bold;
	font-family: Arial, Helvetica, SansSerif;
	font-style: italic;
	margin-top: 10px;
}

#mainList
{
	margin-right: 340px;
}

.cat
{
	border-top: 5px solid black;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.even
{
	background-color: #FFF8DC;
	margin-top: 5px;
	padding: 5px;
}

.odd
{
	background-color: #D4D4D4;
	margin-top: 5px;
	padding: 5px;
}

.descr
{
	color: #777777;
}

.confirmation_area
{
	border-left: 10px solid red;
	padding-left: 10px;
	background-color: #FFEFDB;
}

.common_confirmation_area
{
	width:300px; 
	padding:10px; 
	margin: 10px 0px 10px 10px;
	position: fixed;
	right: 10px;
	top: 10px;
	font-size: small;
	overflow: auto;
}

.common_confirmation_area_collapsed
{
	height: 1.5em;
	overflow: hidden;
}

.common_confirmation_area_part_head
{
	font-family: verdana, helvetica, sans serfif, arial;
	font-size: x-small;
	color: grey;
}

.common_confirmation_area_part_content
{
	padding: 5px;
	margin: 5px;
	border-left: 3px solid grey;
	font-family: courier new;
}

.invisible
{
	visibility: hidden;
}

.upcase {
    text-transform: uppercase;
}

.locase {
    text-transform: lowercase;
}

.capital {
    text-transform: capitalize;
}

#cm-area {
    width: 80px; 
    height: 80px; 
    background-color: #f0f0f0; 
    border: 1px solid black;
    margin: 10px;
}
