/*
 * ----------------------------------------------------
 * Some general stuff
 * ----------------------------------------------------
 */
*
{
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 0px;
    padding: 0px;

    font-family: Trebuchet,"Bitstream Vera Sans" ,verdana,lucida,arial,helvetica,sans-serif;
    font-size: 70%;

    background-color: #f1f1f1;
}

/*
 * ----------------------------------------------------
 * Avoid scrolling problems for scroll-to by
 * using local scroll bars for wide content, applied
 * when needed.
 * ----------------------------------------------------
 */
pre
{
    overflow: auto;

    font-family: Trebuchet,"Bitstream Vera Sans",verdana,lucida,arial,helvetica,sans-serif;
}

/*
 * ----------------------------------------------------
 * Headlines
 * ----------------------------------------------------
 */
h1
{
    font-size: 20px;
    font-weight: bold;
}
h2
{
    font-size: 16px;
    font-weight: bold;
}
h3
{
    font-size: 14px;
    font-weight: bold;
}

/*
 * ----------------------------------------------------
 * The global anchor definitions
 * ----------------------------------------------------
 */
a
{
    color: #3d5376;
    text-decoration: none;
}
    a:hover
    {
        color: #3d5376;
        text-decoration: underline;
    }
    a:visited
    {
        color: #3d5376;
    }

/*
 * We use elements that look like links but do not need the original anchor behavior. These are 
 * mostly JavaScript powered elements. But we want to format them like links.
 */
.link
{
    color: #3d5376;
    text-decoration: none;
}
    .link:hover
    {
    	cursor: pointer;
        color: #3d5376;
        text-decoration: underline;
    }

/*
 * Global container for the page
 */
#container
{
    background-color: #e9e9e9;
}

/*
 * ----------------------------------------------------
 * The content section. Holds header, navigation, data, footer.
 * No direct need at the moment, maybe for future use.
 * ----------------------------------------------------
 */
#content
{
}

/*
 * ----------------------------------------------------
 * Headers
 * ----------------------------------------------------
 */
#header
{
    background-color: #a50000;
    height: 70px;
    border: 1px solid #d7d7d7;
    
    margin: 26px 1px 0px 1px;
    border-radius: 2px;
    
    /* to force the headlines not to break into next line */
    min-width: 750px;
}
    #header .logo
    {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: -2px;
        float: left;
        background-color: White;
        padding: 10px;
        box-shadow: 2px 2px 6px -1px #420000;
    }
    #header h1
    {
        padding: 10px 10px 0px 15px;

        font-size: 250%;
        font-weight: bold;

        color: #f9f9f9;
    }
        #header h1 .projectname
        {
            max-width: calc(100% - 45rem);
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: bottom;
        }

    #header h2
    {
        font-size: 120%;
        font-weight: normal;
        text-align: left;
        color: #f9f9f9;
        padding-left:2px;
        padding-bottom:15px;
    }
        #header h2 .productversion
        {
            padding-left: 0.2em;
        }
        #header h2 a
        {
            color: #f9f9f9;
        }

/*
 * ----------------------------------------------------
 * The navigation that is places right upper corner.
 * ----------------------------------------------------
 */
#navigation
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
    margin: 0 auto;
    text-align: center;
    
    height: 22px;

    border-bottom: 1px solid #555;
    padding: 0px 2px;
	  padding-left: 18px;
    color: White;
    background-color: #333;

    z-index:100;
    box-shadow: 0px 4px 6px -3px #555;
}

/*
 * ----------------------------------------------------
 * Hamburger Menu
 * ----------------------------------------------------
 */

/* menu btn */
.hamburger-nav .hamburger-btn
{
 display: none;
}

/* desktop at 1100px */
@media (max-width: 1100px)
{
  /* menu icon */
  .hamburger-nav .hamburger-icon
  {
    cursor: pointer;
    float: right;
    padding: 10px 30px;
    position: relative;
    user-select: none;
  }

  .hamburger-nav ul li,
  .hamburger-nav ul li ul
  {
    float: right;
    padding: 0px 30px;
    display:block;
    background:#333;
    width: 100%;
    text-align: center;
  }

  .hamburger-nav .sf-menu
  {
    display: none;
  }

  .hamburger-nav .hamburger-icon .navicon
  {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    -webkit-transition: background .2s ease-out;
    width: 18px;
  }

  .hamburger-nav .hamburger-icon .navicon:before,
  .hamburger-nav .hamburger-icon .navicon:after
  {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    width: 100%;
  }

  .hamburger-nav .hamburger-icon .navicon:before
  {
    top: 5px;
  }

  .hamburger-nav .hamburger-icon .navicon:after
  {
    top: -5px;
  }

  .hamburger-nav .hamburger-btn:checked ~ .sf-menu
  {
    display: block;
    list-style: none;
    float: left;
  }

  .hamburger-nav .hamburger-btn:checked ~ .hamburger-icon .navicon
  {
    background: transparent;
  }

  .hamburger-nav .hamburger-btn:checked ~ .hamburger-icon .navicon:before
  {
    transform: rotate(-45deg);
  }

  .hamburger-nav .hamburger-btn:checked ~ .hamburger-icon .navicon:after
  {
    transform: rotate(45deg);
  }

  .hamburger-nav .hamburger-btn:checked ~ .hamburger-icon:not(.steps) .navicon:before,
  .hamburger-nav .hamburger-btn:checked ~ .hamburger-icon:not(.steps) .navicon:after
  {
    top: 0;
  }
}

/*
 * ----------------------------------------------------
 * Data Content section to hold all the reports and
 * data tables.
 * ----------------------------------------------------
 */
#data-content
{
}

/*
 * ----------------------------------------------------
 * The footer.
 * ----------------------------------------------------
 */
#footer
{
    padding: 10px 5px;
    margin: 1px;
    text-align:center;

    background-color: #a50000;
    color: #f9f9f9;
    border: 1px solid #d7d7d7;
	border-radius: 2px;
}
    #footer a
    {
        color: #f9f9f9;
    }

.forcewordbreak
{
    word-break: break-all;
}

/*
 * ----------------------------------------------------
 * The most important data container, the table
 * with all these beautiful numbers.
 * ----------------------------------------------------
 */
table
{
    width: 100%;
    border-spacing: 1px;

    /* get wide tables displayed nicely */
    overflow: scroll;
    
    empty-cells: show;
    
}
table.fixed
{
  top:22px;
  position:fixed;
  width:auto;
  display:none;
  background-color: #FFFFFF;
}   
    table thead td, th
    {
        padding: 4px;
    }
    table tfoot td
    {
        background-color: #BCCBDC;
        padding: 3px 4px;
    }
    table th
    {
        background-color: #BCCBDC;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 6px;        
    }
    table th.colgroup1
    {
        background-color: #CED9E5;
	}
        table th.table-sortable
        {
            /* background: #f0cCa9 url(../images/01_unsorted.gif) right no-repeat !important; */
            cursor: pointer;
        }
        table th.table-sorted-asc
        {
            background: #BCCBDC url(../images/01_ascending.gif) right center no-repeat;
        }
        table th.table-sorted-asc.colgroup1
        {
            background: #CED9E5 url(../images/01_ascending.gif) right center no-repeat;
        }
        table th.table-sorted-desc
        {
            background: #BCCBDC url(../images/01_descending.gif) right center no-repeat;
        }
        table th.table-sorted-desc.colgroup1
        {
            background: #CED9E5 url(../images/01_descending.gif) right center no-repeat;
        }
    table tfoot td.colgroup1
    {
        background-color: #CED9E5;
	}

    table td
    {
        background-color: #e8e8e8;

        padding: 2px 4px;
        vertical-align: top;
        
        border: 1px solid transparent; /* we need more space for the hover effect */
    }
		/* we do a background color hover thingy */
		#loadtestreport table td
		{
			border: none;
		}
    table td.colgroup1
    {
        background-color: #f0f0f0;
    }
    
      table td.trace .charts,
      table td.trace .charts .chart {
        text-align: left;
        margin-bottom: 0;
     }
    

		/* 
			When hovering, use a change in the background color to make the effect clear.  
		*/
        table tbody tr:hover td
        {
			border-top: 1px solid #cecede;
			border-bottom: 1px solid #cecede;
        }
	        table tbody tr:hover td:first-child
	        {
				border-left: 1px solid #cecede;
	        }
	        table tbody tr:hover td:last-child
	        {
				border-right: 1px solid #cecede;
	        }
	        
    	/* 
    		Hover effect for tables. Clean lines. It uses CSS 3 for the left and right border effect.
    		This is for diff and trend only, because it uses colors in the background. 
    	 */
        #loadtestreport table tr td
        {
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
        }
	        #loadtestreport table tr td:first-child
	        {
				border-left: 1px solid transparent;
	        }
	        #loadtestreport table tr td:last-child
	        {
				border-right: 1px solid transparent;
	        }

		/* 
			When hovering, change background and color 
		*/
		#loadtestreport table tbody tr:hover td:not(.colorized)
        {
     		background-color: #BCCBDC !important;
     		color: Black !important;
		}
            #loadtestreport table tbody tr:hover td a.cluetip
         	{
 				color: Black !important;
         	}

        /* format total rows in bold */
        table tr.totals
        {
            font-weight: bold;
        }
        table tr.totals td.key
        {
            text-align: right;
        }
        table tbody tr:nth-child(odd) td
        {
            background-color: #f9f9fc;
        }
        table tr.odd td
        {
            background-color: #f9f9fc;
        }
        table tr.odd td.colgroup1
        {
            background-color: #f9f9fc;
        }

        table td.key
        {
            text-align: left;
			white-space: nowrap;
        }
        table td.value
        {
            text-align: right;
        }
        table td.text
        {
            text-align: left;
        }
        table td.centeredtext
        {
            text-align: center;
        }
		table td.number
        {
            text-align: right;
        }
        table td.link
        {
            text-align: center;
        }
        table td.error
        {
            color: #f00000;	
        }
        table td.event
        {
            color: #cc6600;
        }
        /* Style the directory entry in the error table */
        table td.directory
        {
            white-space: nowrap;
        }
        /* Style the trace entry in the error table */
        table td.trace
        {
            /* let the trace column consume all the remaining space */
            width: 100%;
        }
        table td.trace pre
        {
            display: none;
            padding-top: 10px;
            padding-left: 25px;
		}

    table th input.filter
    {
        margin-top: 4px;
        padding: 2px;
        width: 80%;
        font-size: 100%;
        background-color: #FFF;
        color: #000;
        border: 0 solid #000;
    }

.collapsible
{
}

.collapsible-expanded
{
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	cursor: pointer;
	background-image: url('../images/arrow-bottom-right.gif');
}

.collapsible-collapsed
{
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	cursor: pointer;
	background-image: url('../images/arrow-right.gif');
}

/*
 * ----------------------------------------------------
 * The data within a specific reporting topic
 * ----------------------------------------------------
 */
.section
{
    margin: 2px 1px;
    background-color: White;
    border: 1px solid #d7d7d7;

    padding: 8px;
    border-radius: 2px;
}
    .section h2
    {
        background-color: White;
        border-bottom: 2px solid #2F4782;
        padding: 5px 10px 2px 5px;
        color: #2F4782;
    }

    .section h3
    {
		border-bottom: 1px dotted #2F4782;
        margin: 20px 0px 5px 0px;
        padding: 2px 5px;
        color: #2F4782;
    }
	.section .description
	{
		margin-left: 2px;
		margin-right: 5px;
	}
        .section .description h3
        {
			display: block;
			margin-top: 1em;
        }
        .section .description p
		{
			text-align: justify;
			line-height: 1.3em;
			font-size: 110%;
			margin: 8px 0px;
		}        
		.section .description ul
		{	
			margin: 1em 10em 1em 4em;
			line-height: 1.3em;
			font-size: 110%;
		}
			.section .description ul li
			{
				list-style-position:outside;
			}
			
        /* Hide the more text by default */
        .section .description .more
        {
            display: none;
        }
        .section .description .more-hide
        {
            display: none;
        }

    /* this covers default p's and custom paragraph's for comments */
    .section p, .section .paragraph
    {
        margin: 5px 0px;
        padding: 2px 5px;

        text-align: justify;
    }

    .section p.text-center{
        text-align: center;
    }
    	/* real p's inside the comment paragraph should not be indented again */ 
	    .section .paragraph p
	    {
	        margin: 5px 0px;
	    }
			.section .paragraph ul
			{
			     margin: 5px 20px;
			}
				.section .paragraph ul li
				{
					list-style-position: inside;
				}

.subsection
{
    margin-top: 8px;
    margin-bottom: 8px;
}

/*
 * ----------------------------------------------------
 * The chart area, usually as tabs, but sometimes standalone.
 * You find the tab stuff below.
 * ----------------------------------------------------
 */
.charts
{
    text-align: center;
    margin: 15px 1px;
}
.charts > a
{
	float: left;
}
    .charts a.backlink
    {
        float: right;
        display: block;
        margin: -1.5em 0 0 0;
    }
    .charts .error
    {
    	position: relative;
    }
	    .charts .error .backLink
	    {
	    	position: absolute;
	    	bottom: 5px;
	    	margin-left: 5px;
	    }
    .charts .chart
    {
        text-align: center;
    }
        .charts .chart img
        {
            border: 1px solid #bbb;
			box-shadow: 1px 2px 6px -3px #555;
			max-width: 100%;
        }


/*
 * ----------------------------------------------------
 * The tool tips and their styling
 * ----------------------------------------------------
*/
    .cluetip-data
{
        position: absolute;
        z-index: 1000;
        /*top: 10px;*/
        left: 100px;
    width: auto !important;
        max-width: 200%;
        padding: 2px;
	background-color: #f9f9fc;
	box-shadow: 2px 4px 6px 0px #555;
	border-radius: 2px;
	border: 1px solid #d7d7d7;
        display: none;
}
    .cluetip-data.is-active{
       display: block;
    }
        .cluetip-data h4
    {
        font-size: 10px;
        background-color: #BCCBDC;
        padding: 5px 5px;
    }
        .cluetip-data li
        {
            padding: 2px 5px;
            list-style-type: none;
			color: #333;
        }
        .cluetip-data li.even
        {
            background-color: #e8e8e8;
        }
        .cluetip-data li.odd
        {
        }


/*
 * ----------------------------------------------------
 * Tabs
 * ----------------------------------------------------
 */
.c-tabs{
    margin: 15px 0px;
    padding: 0px;
}

    .c-tabs .c-tabs-nav {
      display: flex;
        list-style: none;
      margin: 10px 0 0 0;
        padding: 0px;
    }
    .c-tabs .c-tabs-nav li.c-tabs-nav-link {
            cursor: pointer;
            position: relative;
            border: 1px solid #bbb;
            margin: 0 5px -1px 0;
            padding: 5px 20px 0 20px;
            background-color: #fafafa;
			border-radius: 2px;
        }

            .c-tabs .c-tabs-nav li.c-tabs-nav-link.c-is-active {
              background-color: White;
              padding-bottom: 1px;
              padding-top: 5px;              
              border-bottom-width: 0px;
            }
            .c-tabs .c-tabs-nav .c-tabs-nav-link a{
                text-decoration: none;
				color: #999;
            }
            .c-tabs .c-tabs-nav .c-tabs-nav-link.c-is-active a{
				color: #555;
            }
            
    .c-tabs .c-tab {
        display: none;
            padding: 5px;
            border: 1px solid #bbb;
            background-color: White;
            border-radius: 2px;
        }

        .c-tabs .c-tab.c-is-active {
            display: block;
        }

        .c-tabs .c-tab .c-tab-content {

        }


/*
 * ----------------------------------------------------
 * Diff report color coding
 * ----------------------------------------------------
 */
.p0                                                        { background-color: rgb(245,245,245) !important; }
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9                { background-color: rgb(248,250,248) !important; }
.p10, .p11, .p12, .p13, .p14, .p15, .p16, .p17, .p18, .p19 { background-color: rgb(241,246,241) !important; }
.p20, .p21, .p22, .p23, .p24, .p25, .p26, .p27, .p28, .p29 { background-color: rgb(226,236,226) !important; }
.p30, .p31, .p32, .p33, .p34, .p35, .p36, .p37, .p38, .p39 { background-color: rgb(212,227,212) !important; }
.p40, .p41, .p42, .p43, .p44, .p45, .p46, .p47, .p48, .p49 { background-color: rgb(197,217,197) !important; }
.p50, .p51, .p52, .p53, .p54, .p55, .p56, .p57, .p58, .p59 { background-color: rgb(183,208,183) !important; }
.p60, .p61, .p62, .p63, .p64, .p65, .p66, .p67, .p68, .p69 { background-color: rgb(168,198,168) !important; }
.p70, .p71, .p72, .p73, .p74, .p75, .p76, .p77, .p78, .p79 { background-color: rgb(154,189,154) !important; }
.p80, .p81, .p82, .p83, .p84, .p85, .p86, .p87, .p88, .p89 { background-color: rgb(139,179,139) !important; }
.p90, .p91, .p92, .p93, .p94, .p95, .p96, .p97, .p98, .p99 { background-color: rgb(125,170,125) !important; }
.p100                                                      { background-color: rgb(110,160,110) !important; }

.n0                                                        { background-color: rgb(245,245,245) !important; }
.n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9                { background-color: rgb(253,248,248) !important; }
.n10, .n11, .n12, .n13, .n14, .n15, .n16, .n17, .n18, .n19 { background-color: rgb(250,242,242) !important; }
.n20, .n21, .n22, .n23, .n24, .n25, .n26, .n27, .n28, .n29 { background-color: rgb(244,228,228) !important; }
.n30, .n31, .n32, .n33, .n34, .n35, .n36, .n37, .n38, .n39 { background-color: rgb(239,215,215) !important; }
.n40, .n41, .n42, .n43, .n44, .n45, .n46, .n47, .n48, .n49 { background-color: rgb(233,201,201) !important; }
.n50, .n51, .n52, .n53, .n54, .n55, .n56, .n57, .n58, .n59 { background-color: rgb(228,188,188) !important; }
.n60, .n61, .n62, .n63, .n64, .n65, .n66, .n67, .n68, .n69 { background-color: rgb(222,174,174) !important; }
.n70, .n71, .n72, .n73, .n74, .n75, .n76, .n77, .n78, .n79 { background-color: rgb(217,161,161) !important; }
.n80, .n81, .n82, .n83, .n84, .n85, .n86, .n87, .n88, .n89 { background-color: rgb(211,147,147) !important; }
.n90, .n91, .n92, .n93, .n94, .n95, .n96, .n97, .n98, .n99 { background-color: rgb(206,134,134) !important; }
.n100                                                      { background-color: rgb(200,120,120) !important; }

tr:hover td.p0, tr:hover td.n0 { background: linear-gradient(rgb(188, 203, 220), rgba(0,0,0,0), rgb(188, 203, 220)) !important; }

tr:hover td.p1, tr:hover td.p2, tr:hover td.p3, tr:hover td.p4, tr:hover td.p5, tr:hover td.p6, tr:hover td.p7, tr:hover td.p8, tr:hover td.p9                           { background: linear-gradient(rgb(235,250,235), rgba(0,0,0,0), rgb(235,250,235)) !important; }
tr:hover td.p10, tr:hover td.p11, tr:hover td.p12, tr:hover td.p13, tr:hover td.p14, tr:hover td.p15, tr:hover td.p16, tr:hover td.p17, tr:hover td.p18, tr:hover td.p19 { background: linear-gradient(rgb(229,246,229), rgba(0,0,0,0), rgb(229,246,229)) !important; }
tr:hover td.p20, tr:hover td.p21, tr:hover td.p22, tr:hover td.p23, tr:hover td.p24, tr:hover td.p25, tr:hover td.p26, tr:hover td.p27, tr:hover td.p28, tr:hover td.p29 { background: linear-gradient(rgb(215,236,215), rgba(0,0,0,0), rgb(215,236,215)) !important; }
tr:hover td.p30, tr:hover td.p31, tr:hover td.p32, tr:hover td.p33, tr:hover td.p34, tr:hover td.p35, tr:hover td.p36, tr:hover td.p37, tr:hover td.p38, tr:hover td.p39 { background: linear-gradient(rgb(212,227,212), rgba(0,0,0,0), rgb(212,227,212)) !important; }
tr:hover td.p40, tr:hover td.p41, tr:hover td.p42, tr:hover td.p43, tr:hover td.p44, tr:hover td.p45, tr:hover td.p46, tr:hover td.p47, tr:hover td.p48, tr:hover td.p49 { background: linear-gradient(rgb(197,217,197), rgba(0,0,0,0), rgb(197,217,197)) !important; }
tr:hover td.p50, tr:hover td.p51, tr:hover td.p52, tr:hover td.p53, tr:hover td.p54, tr:hover td.p55, tr:hover td.p56, tr:hover td.p57, tr:hover td.p58, tr:hover td.p59 { background: linear-gradient(rgb(183,208,183), rgba(0,0,0,0), rgb(183,208,183)) !important; }
tr:hover td.p60, tr:hover td.p61, tr:hover td.p62, tr:hover td.p63, tr:hover td.p64, tr:hover td.p65, tr:hover td.p66, tr:hover td.p67, tr:hover td.p68, tr:hover td.p69 { background: linear-gradient(rgb(168,198,168), rgba(0,0,0,0), rgb(168,198,168)) !important; }
tr:hover td.p70, tr:hover td.p71, tr:hover td.p72, tr:hover td.p73, tr:hover td.p74, tr:hover td.p75, tr:hover td.p76, tr:hover td.p77, tr:hover td.p78, tr:hover td.p79 { background: linear-gradient(rgb(154,189,154), rgba(0,0,0,0), rgb(154,189,154)) !important; }
tr:hover td.p80, tr:hover td.p81, tr:hover td.p82, tr:hover td.p83, tr:hover td.p84, tr:hover td.p85, tr:hover td.p86, tr:hover td.p87, tr:hover td.p88, tr:hover td.p89 { background: linear-gradient(rgb(139,179,139), rgba(0,0,0,0), rgb(139,179,139)) !important; }
tr:hover td.p90, tr:hover td.p91, tr:hover td.p92, tr:hover td.p93, tr:hover td.p94, tr:hover td.p95, tr:hover td.p96, tr:hover td.p97, tr:hover td.p98, tr:hover td.p99 { background: linear-gradient(rgb(125,170,125), rgba(0,0,0,0), rgb(125,170,125)) !important; }
tr:hover td.p100                                                                                                                                                         { background: linear-gradient(rgb(110,160,110), rgba(0,0,0,0), rgb(110,160,110)) !important; }

tr:hover td.n1 , tr:hover td.n2 , tr:hover td.n3 , tr:hover td.n4 , tr:hover td.n5 , tr:hover td.n6 , tr:hover td.n7 , tr:hover td.n8 , tr:hover td.n9                             { background: linear-gradient(rgb(253,248,248), rgba(0,0,0,0), rgb(253,248,248)) !important; }
tr:hover td.n10 , tr:hover td.n11 , tr:hover td.n12 , tr:hover td.n13 , tr:hover td.n14 , tr:hover td.n15 , tr:hover td.n16 , tr:hover td.n17 , tr:hover td.n18 , tr:hover td.n19  { background: linear-gradient(rgb(250,242,242), rgba(0,0,0,0), rgb(250,242,242)) !important; }
tr:hover td.n20 , tr:hover td.n21 , tr:hover td.n22 , tr:hover td.n23 , tr:hover td.n24 , tr:hover td.n25 , tr:hover td.n26 , tr:hover td.n27 , tr:hover td.n28 , tr:hover td.n29  { background: linear-gradient(rgb(244,228,228), rgba(0,0,0,0), rgb(244,228,228)) !important; }
tr:hover td.n30 , tr:hover td.n31 , tr:hover td.n32 , tr:hover td.n33 , tr:hover td.n34 , tr:hover td.n35 , tr:hover td.n36 , tr:hover td.n37 , tr:hover td.n38 , tr:hover td.n39  { background: linear-gradient(rgb(239,215,215), rgba(0,0,0,0), rgb(239,215,215)) !important; }
tr:hover td.n40 , tr:hover td.n41 , tr:hover td.n42 , tr:hover td.n43 , tr:hover td.n44 , tr:hover td.n45 , tr:hover td.n46 , tr:hover td.n47 , tr:hover td.n48 , tr:hover td.n49  { background: linear-gradient(rgb(233,201,201), rgba(0,0,0,0), rgb(233,201,201)) !important; }
tr:hover td.n50 , tr:hover td.n51 , tr:hover td.n52 , tr:hover td.n53 , tr:hover td.n54 , tr:hover td.n55 , tr:hover td.n56 , tr:hover td.n57 , tr:hover td.n58 , tr:hover td.n59  { background: linear-gradient(rgb(228,188,188), rgba(0,0,0,0), rgb(228,188,188)) !important; }
tr:hover td.n60 , tr:hover td.n61 , tr:hover td.n62 , tr:hover td.n63 , tr:hover td.n64 , tr:hover td.n65 , tr:hover td.n66 , tr:hover td.n67 , tr:hover td.n68 , tr:hover td.n69  { background: linear-gradient(rgb(222,174,174), rgba(0,0,0,0), rgb(222,174,174)) !important; }
tr:hover td.n70 , tr:hover td.n71 , tr:hover td.n72 , tr:hover td.n73 , tr:hover td.n74 , tr:hover td.n75 , tr:hover td.n76 , tr:hover td.n77 , tr:hover td.n78 , tr:hover td.n79  { background: linear-gradient(rgb(217,161,161), rgba(0,0,0,0), rgb(217,161,161)) !important; }
tr:hover td.n80 , tr:hover td.n81 , tr:hover td.n82 , tr:hover td.n83 , tr:hover td.n84 , tr:hover td.n85 , tr:hover td.n86 , tr:hover td.n87 , tr:hover td.n88 , tr:hover td.n89  { background: linear-gradient(rgb(211,147,147), rgba(0,0,0,0), rgb(211,147,147)) !important; }
tr:hover td.n90 , tr:hover td.n91 , tr:hover td.n92 , tr:hover td.n93 , tr:hover td.n94 , tr:hover td.n95 , tr:hover td.n96 , tr:hover td.n97 , tr:hover td.n98 , tr:hover td.n99  { background: linear-gradient(rgb(206,134,134), rgba(0,0,0,0), rgb(206,134,134)) !important; }
tr:hover td.n100                                                                                                                                                                   { background: linear-gradient(rgb(200,120,120), rgba(0,0,0,0), rgb(200,120,120)) !important; }


.added    { color: #888 !important;}
.removed  { color: #888 !important;}
.infinity { background-color: rgb(200,120,120) !important;}


/*
 * ----------------------------------------------------
 * Apdex color coding
 * ----------------------------------------------------
 */
.apdex              { white-space: nowrap; }
.apdex-excellent    { background-color: rgb(110,160,110) !important; }
.apdex-good         { background-color: rgb(154,189,154) !important; }
.apdex-fair         { background-color: #e0b669          !important; }
.apdex-poor         { background-color: rgb(217,161,161) !important; }
.apdex-unacceptable { background-color: rgb(200,120,120) !important; }

/*
 * ----------------------------------------------------
 * Printing
 * ----------------------------------------------------
 */
/* Hide any stuff intended only for printing. */
.print {
	display: none;
}

/* Show any stuff not intended for printing. */
.no-print {
}
