/* Show any stuff intended only for printing. */
.print {
	display: block;
}

/* Hide any stuff not intended for printing. */
.no-print {
	display: none;
}

/* Hide the navigation bar. */
#navigation {
	display: none;
}

/* No navigation bar, no need for a header margin. */
#header {
	margin: 0px;
}

/* Use the full width of the page. */
.section {
	margin: 0px;
	padding: 10px 0;
	border: none;
}

/* Define h4 and h5 to match h1-h3. */
.section h4 {
	font-size: 12px;
	color: #2f4782;
	margin: 10px 0 5px;
	padding: 2px 5px;
}

.section h5 {
	font-size: 11px;
	color: #2f4782;
	margin: 5px 0;
	padding: 2px 5px;
}

/* Hide the tabs of tab controls. */
.c-tabs .c-tabs-nav {
	display: none;
}

/* Unstyle the tab panes of tab controls. */
.c-tabs .c-tab {
	border: none;
	display: block;
	padding: 5px;
}

/* The printable chart groups and charts. */
.chart-group.print {
	text-align: left;
	page-break-inside: avoid;
}

.chart-group.print .chart {
	display: inline-block;
	width: 48%;
	margin: 4px 8px 4px 0px;
	vertical-align: top;
}

/* Hide various elements that don't make sense on paper. */
.more-show, input.filter, .charts a.backlink, .backLink, a.backlink {
	display: none;
}

/* Add a border to the table rows for better readability when printed without background colors. */
#data-content table {border-spacing: 0px;}
#data-content table tbody > tr > td {border-top: 1px solid darkgray;}

/* Remove unnecessary background colors to save ink. */
#loadtestreport, #container {background-color: transparent;}