/*header*/

div#header p, div#header h1, div#header ul {
	margin: 0;
	padding: 0;
}

div#logo a, p#mediatemple a {
	margin-top: 20px;
	display: block;
}

div#logo h1 a span, div#logo p, p#mediatemple span {
	display: none;
}

div#header {
	background: #1d1d20;
	height: 100px;
	border-bottom: 8px solid #2a2a2f;
}

div#header-inside, div#footer-inside {
	width: 800px;
	margin: 0 auto;
}

div#logo h1 a {
	background: url(css/logo.gif) no-repeat;
	height: 52px;
	width: 182px;
	float: left;
}

p#mediatemple a {
	float: right;
	height: 20px;
	width: 113px;
	background: url(css/mediatemple.gif) no-repeat;
}

ul#menu {
	clear: both;
	float: right;
	list-style: none;
	position: relative;
	top: 3px;
}

ul#menu li {
	float: left;
	margin-left: 5px;
	line-height: 1.4;
}

ul#menu li a {
	color: #fff;
	text-shadow: 2px 2px 1px #2a2a2f;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	width: 85px;
	height: 15px;
	padding: 5px 0;
	display: block;
	background-image: url(css/tab.gif);
	background-repeat: no-repeat;
	background-position: center left;
}

ul#menu li a:hover, ul#menu li a:active {
	background-position: top left;
}

ul#menu li a.selected {
	background-position: bottom left;
}

/*footer*/

#footer {
	background: #1d1d20;
	border-top: 8px solid #2a2a2f;
	margin-top: 40px;
	font-size: 9px;
	color: #595965;
	padding: 15px 0;
	height: 1%; /*crazy ie7...*/
	text-align: center;
}

#footer a.copy {
	display: block;
	background: url(css/mucca.gif) no-repeat bottom right;
	height: 43px;
	width: 54px;
	margin: 0 auto;
}

#footer a.copy:hover {
	background-position: top right;
}