body {
	margin: 0;
	padding: 0;
	font: 11px "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
	background: #1d1d20;
	color: #b3b3bb;
}

h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	list-style: none;
}

a:link, a:visited {
	color: #7389ae;
}

a:hover, a:active {
	color: #faec8f;
}

h1 span {
	display: none;
}

p {
	padding: 5px 0;
	line-height: 1.7;
}

a {
	outline: none;
}

form, table {
	margin: 0;
	padding: 0;
}

/*shared*/

span.clr {
	display: block;
	clear: both;
}

/*headings & link colors*/

h2 {
	font-size: 20px;
	border-bottom: 1px solid #27272a;
	border-top: 1px solid #27272a;
	margin: 0 0 10px;
	padding: 5px 0 4px;
	color: #ccc;
	color: #c17878;
}

h2, h3.sub {
	text-shadow: 1px 2px 1px #131315;
}

h3.sub {
	position: absolute;
	top: 50px;
	font-size: 9px;
}

div#intro {
	color: #fff;
	font-size: 16px;
	text-shadow: 1px 2px 1px #131315;
}

div#intro em {
	font-weight: normal;
	font-style: normal;
	color: #f6e4c8;
}

div#intro p.less {
	font-size: 13px;
	color: #bbb;
}

div.intro a:link, div.intro a:visited {
	color: #c17878;
}

div.developers a:link, div.developers a:visited, h2.developers {
	color: #78ba91;
}

div.browsers a:link, div.browsers a:visited, h2.browsers {
	color: #a87aad;
}

div.download a:link, div.download a:visited {
	color: #78ba91;
}

h2.download {
	color: #78ba91;
}

div.license a:link, div.license a:visited, h2.license {
	color: #7389ae;
}

div.apps a:link, div.apps a:visited, h2.apps {
	color: #c17878;
}

h2.apps {
	font-size: 16px;
}

div.block a:hover, div.block a:active {
	color: #faec8f;
}

/*content*/

#container {
	position: relative;
	width: 800px;
	margin: 30px auto 10px;
}

#content {
	width: 600px;
	position: relative;
	z-index: 10000;
	background: #1d1d20;
	padding-right: 45px;
}

div#content.selected {
	
}

div.block {
	margin-bottom: 20px;
	font-size: 12px;
}

div.floaty {
	float: left;
	width: 210px;
}

div.floaty h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

div.first {
	width: 369px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	border-right: 1px solid #27272a;
}

div.full {
	clear: both;
	float: none;
}

ul#developers {
	font-size: 10px;
	color: #888;
	line-height: 1.3;
	list-style: none;
	margin-top: 10px;
}

#developers li {
	margin-bottom: 5px;
	font-size: 12px;
}

/*sidebar*/

#sidebar {
	position: absolute;
	z-index: 1;
	width: 180px;
	left: 625px;
	top: 0;
}

#sidebar ul {
	list-style: none;
}

#sidebar a, #sidebar h3.cat {
	width: 130px;
	display: block;
	padding: 3px 5px 3px 40px;
	background: url(css/tab_small.gif) center right no-repeat;
	margin: 5px 0;
	text-decoration: none;
}

#sidebar a {
	color: #595965;
}

#sidebar a.big, #sidebar h3.cat {
	background: url(css/tab_big.gif) center right no-repeat;
	padding: 4px 5px 4px 40px;
	margin: 8px 0;
}

#sidebar h3 {
	font-size: 13px;
}

#sidebar h3.cat {
	color: #cbcbcb;
	text-shadow: 1px 2px 1px #222;
}

#sidebar a.big {
	color: #fff;
}

#sidebar a.blog {
	background-image: url(css/tab_forum.gif);
	background-color: #c17878;
}

#sidebar a.docs {
	background-image: url(css/tab_docs.gif);
	background-color: #7389ae;
}

#sidebar a.download {
	background-image: url(css/tab_download.gif);
	background-color: #78ba91;
}

#sidebar a.trac {
	background-image: url(css/tab_trac.gif);
	background-color: #a87aad;
}

/*big menu*/

#kwick {
	position: relative;
	border-top: 1px solid #27272a;
	border-bottom: 3px double #27272a;
	margin-bottom: 10px;
	padding: 10px 0;
}

#kwick .kwicks {
	display: block;
	background: #1d1d20 url(css/trac.gif) top right no-repeat;
	height: 100px;
}

#kwick li {
	float: left;
}

#kwick .kwick {
	display: block;
	cursor: pointer;
	overflow: hidden;
	height: 80px;
	width: 125px;
	padding: 10px;
	background: #fff;
	border-right: 5px solid #1d1d20;
}

#kwick .kwick span {
	display: none;
}

#kwick .download {
	background: #78ba91 url(css/download.gif);
}

#kwick .documentation {
	background: #7389ae url(css/docs.gif);
}

#kwick .blog {
	background: #c17878 url(css/blog.gif);
}

#kwick .trac {
	background: #a87aad url(css/trac.gif);
	border-right: 0;
}

/*download*/

/*span.right {
	display: none;
	float: right;
	font-size: 10px;
	text-shadow: none;
	margin-top: 3px;
}*/

div.download p {
	padding: 1px 0;
}

table {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}

th, td {
	padding: 4px 10px;
}

th {
	text-align: left;
	background: #18181b;
	color: #faec8f;
	border-top: 4px solid #1d1d20;
	border-bottom: 1px solid #1d1d20;
}

th h3 {
	font-size: 13px;
}

td {
	border-bottom: 1px solid #252528;
	border-top: 1px solid #252528;
	vertical-align: middle;
}

td.check div.check {
	border: 2px solid #18181b;
	background-repeat: no-repeat;
	background-position: center center;
	height: 13px;
	width: 14px;
}

td.check div.selected {
	background-image: url(css/check.png) !important;
	background-image: url(css/check.gif);
	padding: 2px;
	border: 0;
}

td.name {
	font-size: 12px;
	white-space: nowrap;
}

td.description {
	font-size: 9px;
	width: 100%;
	text-align: left;
}

tr.option {
	cursor: pointer;
	background: #1d1d20;
	color: #595965;
}

.test {
	color: #2f3d31;
}

h2.section, h2.options {
	font-size: 15px;
	color: #faec8f;
	padding-left: 15px;
	background: url(css/arrow.gif) no-repeat left center;
}

#container h2.section a, #container h2.options a {
	display: block;
	text-decoration: none;
	color: #faec8f;
}

#container h2.section a:hover, #container h2.options a:hover {
	color: #faf3c7;
}

#advanced, #quick {
	padding-bottom: 20px;
}

h2.compression-options {
	margin-top: 10px;
}

table#compression-options div.check {
	width: 13px;
	height: 13px;
}

table#compression-options div.selected {
	background-image: url(css/radio.png) !important;
	background-image: url(css/radio.gif);
	padding: 2px;
}

p.submit {
	margin-top: 20px;
	text-align: center;
}

/*links*/

#container div.apps {
	text-align: center;
}

#container div.apps a {
	font-family: 'trebuchet ms';
	color: #7a7a86;
	font-size: 28px;
	margin: 0 20px 10px 0;
	text-shadow: 1px 2px 1px #131315;
	text-decoration: none;
	display: block;
	float: left;
}

#container div.apps a:hover {
	color: #fff;
}

/*developers*/

h2.dev {
	line-height: 1.1;
	font-size: 15px;
	color: #faec8f;
	margin-bottom: 0;
	margin-left: 80px;
	padding: 5px 0 4px;
}

h2.dev span {
	color: #444;
	font-size: 9px;
	text-shadow: none;
	font-family: Andale Mono, Monaco, Courier New, Monospace;
}

div.icon {
	float: left;
	height: 65px;
	width: 65px;
	margin-bottom: 5px;
	background: #1d1d20;
	border: 3px solid #333;
}

div.dev {
	clear: both;
	margin: 10px 0;
}

div.dev p {
	line-height: 1.7;
	padding: 1px 0 2px;
	border-bottom: 1px solid #222;
	margin-left: 80px;
}

#container a.devs:link, #container a.devs:visited {
	color: #face8f;
	display: block;
	font-size: 15px;
	padding: 5px 25px;
}

#container a.devs:hover, #container a.devs:active {
	color: #ccc;
}

p.devs {
	padding: 0 0;
}

/*ads*/

a.affiliate {
	letter-spacing: 1px;
	font-size: 12px;
	display: block;
	border-bottom: 1px solid #27272a;
	padding: 3px 3px 10px;
	margin-bottom: 5px;
}

div#ads {
	clear: both;
	background: url(css/ads.png) top left no-repeat;
	padding: 5px 0 3px;
	border-bottom: 1px solid #58585F;
	margin-bottom: 1px
}

/*errors*/

h1.error {
	color: #c17878;
}


/*warning, ripoff*/

#warning {
	background-color: #ff3300;
	font-size: 27px;
	padding: 20px;
	color: #ffffff;
	font-family: helvetica, arial;
}

#warning h1 {
	font-weight: bold;
	font-size: 45px;
	color: #ffffff;
}

#warning a:link, #warning a:visited {
	color: #face8f;
} 

#warning a:hover, #warning a:active {
	color: #222222;
}

p.important {
	padding: 10px;
	border: 2px solid #fff;
	background: #ff3300;
	color: #fff;
	font-size: 12px;
}

p.important a {
	color: #fff;
}